@import './breakpoints';
.dark-theme {
  --primary: rgb(36, 38, 49);
  --secondary: rgb(27, 28, 37);
  --ternary: rgb(18, 18, 26);
  --text: #f0f8ff;
  --text-secondary: #8d99ae;
  --text-ternary: #222;
  --disabled: #8d99ae;
  --red: #f74949;
  --blue: #5d6be4;
  --green: #6df7ab;
}
.light-theme {
  --primary: #f0f8ff;
  --secondary: #dedfe0fb;
  --text: #192046;
  --text-secondary: #8d99ae;
  --red: #f74949;
  --blue: #5d6be4;
  --green: #6df7ab;
}
.background-bg {
  overflow-y: auto;
  color: var(--text);
  background-color: var(--primary);
}
// header
.background-bg__header {
  height: 50px;
}
// section
.background-bg__admin {
  padding-top: 18px;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 100px);
  display: grid;
  margin: 0 auto;
  justify-content: center;
  max-width: 1250px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
  gap: 3px;
  row-gap: 15px;
  @include breakpoint(gridt) {
    grid-template-columns: calc(100% - 10px);
  }

  .admin__users-count {
    position: relative;

    user-select: none;
    h2 {
      font-size: 12px;
      font-weight: 300;
      margin-left: 6px;
      margin-bottom: 8px;
      color: var(--text-secondary);
    }
    .admin__users-accountant.blue-users {
      .admin__button-more {
        color: var(--blue) !important;
        text-shadow: 0 0 5px var(--blue);
      }
      .admin__count {
        span {
          color: var(--blue);
          text-shadow: 0 0 5px var(--blue), 0 0 7px var(--blue),
            0 0 10px var(--blue);
        }
      }
    }
    .admin__users-accountant.green-users {
      .admin__count {
        .admin__button-more {
          color: var(--green) !important;
          text-shadow: 0 0 5px var(--green);
        }
        span {
          color: var(--green);
          text-shadow: 0 0 5px var(--green), 0 0 7px var(--green),
            0 0 10px var(--green);
        }
      }
    }
    .admin__users-accountant.red-users {
      .admin__count {
        .admin__button-more {
          color: var(--red) !important;
          text-shadow: 0 0 5px var(--red);
        }
        span {
          color: var(--red);
          text-shadow: 0 0 5px var(--red), 0 0 7px var(--red),
            0 0 10px var(--red);
        }
      }
    }
    .admin__users-accountant {
      z-index: 1;
      height: calc(100% - 35px);
      width: 100%;
      border-radius: 10px;
      background-color: var(--secondary);
      display: flex;
      position: relative;
      .admin__count {
        margin: auto;
        .admin__button-more {
          & * {
            pointer-events: none;
          }
          transition: transform 200ms ease-in-out;
          cursor: pointer;
          bottom: 10px;
          right: 10px;
          background-color: transparent;
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50rem;
          &.admin__button-more--active {
            transform: rotateZ(180deg);
          }
          &.admin__button-more--disabled {
            color: #8d99ae !important;
            text-shadow: none;
            i.fa.fa-angle-down {
              display: none;
            }
            .admin__disabled {
              width: 10px;
              height: 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              span {
                top: 50%;
                position: absolute;
                width: 10px;
                height: 2px;
                display: block;
                background-color: #8d99ae;
                &:nth-child(1) {
                  transform: rotateZ(-45deg);
                }
                &:nth-last-child(1) {
                  transform: rotateZ(45deg);
                }
              }
            }
          }
        }
        span {
          font-size: 6em;
        }
      }
    }
    .admin__users-accountant {
      .admin__count {
        span.count--disabled {
          color: var(--disabled) !important;
          text-shadow: 0 0 5px var(--disabled), 0 0 7px var(--disabled),
            0 0 10px var(--disabled) !important;
        }
      }
      @include breakpoint(tablets) {
        &.blue-users {
          z-index: 11;
        }
        &.green-users {
          z-index: 9;
        }
        &.red-users {
          z-index: 7;
        }
      }
    }
    .admin__users-today-info-dad {
      height: 262px;
      overflow: hidden;
      #red-users-info ~ .admin__fixed-form-update {
        .admin__form-update {
          .form__input-group {
            input {
              border-color: var(--red) !important;
            }
            .form__button {
              &.form__button-send {
                color: var(--red);
              }
              &.form__button-yes {
                background-color: var(--red);
              }
            }
          }
        }
      }
      #blue-users-info ~ .admin__fixed-form-update {
        .admin__form-update {
          .form__input-group {
            input {
              border-color: var(--blue) !important;
            }
            .form__button {
              &.form__button-send {
                color: var(--blue);
              }
              &.form__button-yes {
                background-color: var(--blue);
              }
            }
          }
        }
      }
      #green-users-info ~ .admin__fixed-form-update {
        .admin__form-update {
          .form__input-group {
            input {
              border-color: var(--green) !important;
            }
            .form__button {
              &.form__button-send {
                color: var(--green);
              }
              &.form__button-yes {
                color: var(--text-ternary);
                background-color: var(--green);
              }
            }
          }
        }
      }
      .admin__fixed-form-update {
        display: none;
        &.admin__fixed-form-update--show {
          display: block;
        }
        z-index: 20;

        position: fixed;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        .admin__form-update {
          .button--fadeout * {
            pointer-events: none;
          }
          .admin__form-update-close {
            .button-close {
              cursor: pointer;
              background-color: transparent;
              color: var(--text);
            }
            position: absolute;
            right: 30px;
            top: 30px;
          }
          border-radius: 10px;

          width: 100%;
          max-width: 400px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 50px 20px 120px;
          background-color: rgba(0, 0, 0, 0.5);
          .form__input-group {
            input {
              &::placeholder {
                color: var(--text-secondary);
              }
              color: var(--text);
              width: 80%;
              border-bottom: 1px solid #fff;
              background-color: transparent;
              margin: 2px 0;
              padding: 15px 30px 10px;
            }
            &:nth-child(1) {
              margin-top: 30px;
            }
            .form__confirm-error {
              position: absolute;
              left: 20px;
              bottom: 20px;

              .form__confirm-error-message {
                margin-top: 20px;
                display: flex;
                align-items: flex-end;
                span {
                  color: red;
                  &#errorMessage {
                    margin-bottom: 2px;
                    margin-left: 10px;
                    font-size: 12px;
                    display: block;
                    white-space: nowrap;
                    max-width: 300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
            .form__confirm-send {
              display: none;
              &.form__confirm-send--show {
                display: block;
              }
              h3 {
                margin-bottom: 15px;
              }
            }
            .form__buttons {
              display: flex;
            }
            .form__button {
              color: var(--text-ternary);
              text-transform: capitalize;
              width: 100px;
              border-radius: 3px;
              padding: 5px 0;
              cursor: pointer;
              &:active {
                transform: scale(1.01);
              }
              &.form__button-send {
                width: unset;
                margin-left: 3px;
                background-color: transparent;
                font-weight: bold;
                margin-top: 13px;
                margin-bottom: 30px;
              }
              &.form__button-yes {
                color: var(--text);
              }
              &.form__button-no {
                color: var(--text-ternary);
                background-color: #fff;

                margin-left: 15px;
              }
            }
          }
        }
      }
      @include breakpoint(tablets) {
        height: 400px;
      }
      button.admin__button {
        i.fa-compress {
          display: none;
        }
        i.fa-expand {
          display: block;
        }
      }
      .admin__users-today-info-controls {
        margin-top: 10px;
      }
      &.admin__users-today-info-dad--fixed {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 30;
        position: fixed;
        background-color: var(--ternary);
        button.admin__button {
          i.fa-compress {
            display: block;
          }
          i.fa-expand {
            display: none;
          }
        }
        .admin__users-today-info {
          overflow-x: hidden;
          @include breakpoint(tablets) {
            &.admin__users-today-info--active {
              height: 100%;
            }
          }
          margin-left: 20px;
          .admin__user-today {
            &:nth-child(1) {
              margin-top: 100px;
            }
            &:nth-last-child(1) {
              margin-bottom: 100px;
            }
            &.admin__user-today--inline {
              margin-right: 12px;
            }
            &.admin__user-today--list {
              max-width: 700px;
              // margin-right: 102px;
            }
            .admin__image-name {
              .admin__name {
                span {
                  max-width: 400px !important;
                  @include breakpoint(desktops) {
                    max-width: 400px !important;
                  }
                }
              }
            }
          }
        }
      }
      .admin__users-today-info {
        @include breakpoint(tablets) {
          border: 10px solid var(--ternary);
          background-color: var(--ternary);
          border-radius: 20px;
          padding: 10px 12px;

          &.admin__users-today-info--active {
            &.blue {
              z-index: 10;
            }
            &.green {
              z-index: 8;
            }
            &.red {
              z-index: 6;
            }
            position: relative;
            height: 350px;
          }
        }
        height: 100%;
        overflow-y: auto;
      }
      .admin__users-today-info-controls {
        display: none;
        &.admin__users-today-info-controls--disabled {
          button.admin__button {
            display: none;
          }
          .admin__structures {
            .admin__structure-inline,
            .admin__structure-list {
              display: none !important;
            }
          }
        }
        &.admin__users-today-info-controls--active {
          width: 100%;
          padding: 0 3%;
          z-index: 1;
          position: absolute;
          display: flex;
          align-items: center;

          justify-content: space-between;
          &#blue-none {
            button.admin__button {
              background-color: var(--blue);
            }
            .admin__structures {
              .admin__structure-inline,
              .admin__structure-list {
                background-color: var(--blue);
              }
            }
          }
          &#green-none {
            button.admin__button {
              color: var(--ternary);
              background-color: var(--green);
            }
            .admin__structures {
              .admin__structure-inline,
              .admin__structure-list {
                span {
                  background-color: var(--ternary);
                }
                background-color: var(--green);
              }
            }
          }
          &#red-none {
            button.admin__button {
              background-color: var(--red);
            }
            .admin__structures {
              .admin__structure-inline,
              .admin__structure-list {
                background-color: var(--red);
              }
            }
          }
          button.admin__button {
            width: 30px;
            height: 30px;
            border-radius: 50rem;
            color: var(--text);
            cursor: pointer;
            & * {
              pointer-events: none;
            }
          }
          .admin__structures {
            display: flex;
            .admin__structure-inline,
            .admin__structure-list {
              cursor: pointer;
              position: relative;
              border-radius: 3px;
              display: block;
              width: 40px;
              height: 30px;
              padding: 2px 3px;
              text-align: left;
              span {
                pointer-events: none;
                border-radius: 1px;
                margin-top: 1px;
                background-color: #fff;
                display: block;
                height: 2px;
                width: 12px;
                &:nth-child(1) {
                  width: 14px;
                  height: 3px;
                }
                &:nth-child(3) {
                  width: 19px;
                  height: 2px;
                }
                &:nth-last-child(1) {
                  width: 7px;
                  height: 4px;
                }
              }
            }
            .admin__structure-inline {
              margin-left: 5px;
              line-height: 0;
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .admin__users-today-info.green {
      &::-webkit-scrollbar-thumb {
        background-color: var(--green);
      }
      scrollbar-color: var(--green) transparent;
      .admin__user-today {
        .admin__image-name {
          .admin__image {
            background-color: var(--green);
            box-shadow: 0 0 2px var(--green), 0 0 3px var(--green),
              0 0 4px var(--green);
          }
        }
      }
    }
    .admin__users-today-info.red {
      &::-webkit-scrollbar-thumb {
        background-color: var(--red);
      }
      scrollbar-color: var(--red) transparent;
      .admin__user-today {
        .admin__image-name {
          .admin__image {
            background-color: var(--red);
            box-shadow: 0 0 2px var(--red), 0 0 3px var(--red),
              0 0 4px var(--red);
          }
        }
      }
    }
    .admin__users-today-info.blue {
      &::-webkit-scrollbar-thumb {
        background-color: var(--blue);
      }
      scrollbar-color: var(--blue) transparent;
      .admin__user-today {
        .admin__image-name {
          .admin__image {
            background-color: var(--blue);
            box-shadow: 0 0 2px var(--blue), 0 0 3px var(--blue),
              0 0 4px var(--blue);
          }
        }
      }
    }
    .admin__users-today-info {
      padding-right: 100px !important;
      transform: translateY(-500px);
      transition: 500ms transform cubic-bezier(0.075, 0.82, 0.165, 1);
      &.admin__users-today-info--active {
        transform: translateY(0px);
      }
      margin-top: 20px;

      &::-webkit-scrollbar {
        width: 2px !important;
        height: 2px !important;
      }
      .admin__user-today {
        padding: 10px 15px;
        border-radius: 10px;
        background-color: var(--secondary);
        margin-bottom: 17px;
        &:nth-child(1) {
          margin-top: 30px;
        }
        &:nth-last-child(1) {
          margin-bottom: 50px;
        }
        display: inline-flex;
        margin-right: 12px;
        &.admin__user-today--inline {
          display: inline-flex;
        }
        &.admin__user-today--list {
          // margin-right: 102px;
          display: flex;
        }
        align-items: center;
        justify-content: space-between;
        .admin__image-name {
          display: flex;
          align-items: center;
          .admin__image {
            width: 40px;
            height: 40px;
            border-radius: 50rem;
          }
          .admin__name {
            margin-left: 10px;
            span {
              font-size: 14px;
              white-space: nowrap;
              max-width: 70px;
              display: block;
              overflow-x: hidden;
              text-overflow: ellipsis;
              @include breakpoint(desktops) {
                max-width: 70px;
              }
            }
          }
        }
        .admin__configs {
          display: flex;
          align-items: center;
          position: relative;

          .admin__ip {
            margin-left: 10px;
            color: var(--text-secondary);
            font-size: 9px;
            @include breakpoint(desktops) {
              margin-left: 60px;
            }
          }
          .admin__config-open {
            &.admin__config-open--active {
              display: flex;
            }
            padding: 5px 15px;
            right: -90px;
            bottom: -10px;
            border-radius: 5px;
            background-color: #fff;
            display: none;
            flex-direction: column;
            position: absolute;
            &::after {
              content: '';
              position: absolute;
              bottom: 10px;
              left: -3px;
              transform: rotateZ(45deg);
              width: 12px;
              height: 12px;
              background-color: #fff;
            }
            font-weight: bold;
            .admin__config-open-child {
              color: #000;
              cursor: pointer;
              background-color: transparent;
              &:active {
                transform: scale(1.1);
              }
              &:nth-last-child(1) {
                margin-top: 5px;
              }
            }
          }
          button.admin__config {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 50rem;
            justify-content: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left: 6px;
            span.admin__bollet {
              pointer-events: none;
              display: block;
              margin-top: 2px;
              width: 6px;
              height: 6px;
              border-radius: 50rem;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
// footer
.background-bg__footer {
  padding-top: 7px;
  height: 50px;
}
