@import './breakpoints';
@import './themes';
.dark-theme {
  --products: rgba(0, 0, 0, 0.1);
  --background-btn: rgb(20, 23, 29);
  --shadow: rgb(26, 28, 34);
  --button-act: #8d99ae;
  --pink: rgb(248, 43, 163);
  --rgba-05: rgba(0, 0, 0, 0.5);
  --rgba-02: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar {
  background-color: #222;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(248, 43, 163);
}
button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  * {
    pointer-events: none;
  }
}
.products {
  background-color: var(--primary);
  & * {
    color: var(--text);
  }
  .products__overflow {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .products__header {
      position: fixed;
      z-index: 2;

      top: 0;
      left: 0;
      right: 0;
      .products__container {
        max-width: 1200px;
        margin: 0 auto;
        .products__padding {
          padding: 0 3%;
          .products__top {
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--outline);
            .logo {
              .logo__size {
                width: 30px;
                height: 30px;
              }
            }
          }
          .products__bottom {
            height: 50px;
            .addmoney {
              .addmoney__container {
                max-width: 800px;
                margin: 0 auto;
                .addmoney__datas {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .addmoney__datamoney {
                    border-radius: 10px;
                    padding: 0 10px;
                    background-color: var(--primary);
                    height: 50px;
                    display: flex;
                    align-items: center;
                    .addmoney__controlls {
                      display: flex;
                      align-items: center;

                      .addmoney__add {
                        width: 20px;
                        height: 20px;
                        button {
                          & * {
                            pointer-events: none;
                          }
                          transition: 100ms transform ease-in-out;
                          &:active {
                            transform: scale(1.5);
                          }
                          background-color: transparent;
                          cursor: pointer;
                          i {
                            color: var(--green);
                            font-size: 20px;
                          }
                        }
                      }
                      .addmoney__money {
                        margin-left: 5px;
                        span {
                          color: var(--green);
                        }
                      }
                    }
                    .addmoney__description {
                      margin-left: 10px;
                      span {
                        margin-bottom: 3px;
                        display: block;
                        max-width: 100px;
                        font-size: 10px;
                        color: var(--green);
                      }
                    }
                  }
                  .addmoney__datacart {
                    border-radius: 10px;
                    padding: 8px 15px;
                    background-color: var(--primary);
                    .addmoney__cartbutton {
                      i {
                        color: var(--green);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// section

.gallery {
  padding-top: 120px;
  .gallery__sidebar {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: var(--secondary);
    @include breakpoint(tablets-3) {
      height: unset;
      width: 100%;
      min-width: 260px;
      top: unset;
      right: 0;
      bottom: 0;
      .gallery__sidebar-top {
        .gallery__align-buttons {
          justify-content: space-around;
          flex-direction: row !important;
          .gallery__sidebar-box {
            .gallery__sidebar-button {
              margin: 5px 20px !important;
            }
          }
        }
      }
    }
    .gallery__sidebar-top {
      .gallery__align-buttons {
        margin-right: 6px;
        .gallery__sidebar-box {
          &:nth-child(1) {
            .gallery__sidebar-button {
              margin-top: 10px;
              border-color: var(--green) !important;
            }
          }
          &:nth-child(2) {
            .gallery__sidebar-button {
              border-color: var(--blue) !important;
            }
          }
          &:nth-child(3) {
            .gallery__sidebar-button {
              border-color: var(--red) !important;
            }
          }
        }
        display: flex;
        flex-direction: column;
        .gallery__sidebar-box {
          .gallery__sidebar-button {
            border-radius: 50rem;
            margin-bottom: 10px;
            width: 50px;
            height: 50px;
            border: 1px solid var(--disabled);
            padding: 10px 5px;
            white-space: nowrap;
          }
          span {
            display: inline-block;
            position: relative;

            top: -1px;
            font-size: 10px;
          }
          &:nth-child(1) {
            i {
              color: var(--green);
            }
            span {
              color: var(--green);
            }
          }
          &:nth-child(2) {
            i {
              color: var(--blue);
            }
            span {
              color: var(--blue);
            }
          }
          &:nth-child(3) {
            i {
              color: var(--red);
            }
            span {
              color: var(--red);
            }
          }
        }
      }
    }
  }
  .gallery__sidebar-open {
    .gallery__sidebar-box {
      .gallery__sidebar-box-top {
        border: 1px solid #000;
      }
      .gallery__sidebar-box-container {
        max-width: 300px;
        margin: 10px auto;
        .gallery__sidebar-box-align {
          display: flex;
          align-items: center;

          .gallery__sidebar-title {
            h2 {
              margin-left: 15px;
              font-weight: lighter;
              font-size: 13px;
            }
          }
        }
      }
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      transform: translate3d(-500px, 0, 0);
      min-width: 260px;
      max-width: 500px;
      background-color: var(--ternary);
      min-height: 100vh;
      border-right: 1px solid var(--pink);
      transition: transform 200ms ease-in;
      &.gallery__sidebar-box--active {
        transform: translate3d(0, 0, 0);
      }
      .gallery__sidebar-button {
        width: 50px;
        height: 50px;
        border-radius: 50rem;
        border: 1px solid var(--disabled);
      }
      &:nth-child(1) {
        .gallery__sidebar-button {
          border-color: var(--green);
          i {
            color: var(--green);
          }
        }
      }
      &:nth-child(2) {
        .gallery__sidebar-button {
          border-color: var(--blue);
          i {
            color: var(--blue);
          }
        }
      }
      &:nth-child(3) {
        .gallery__sidebar-button {
          border-color: var(--red);
          i {
            color: var(--red);
          }
        }
      }

      .gallery__sidebar-box-products {
        overflow-y: auto;
        height: 100vh;
        .gallery__sidebar-products-items {
          padding-top: 50px;
          padding-bottom: 200px;
        }
        .gallery__sidebar-product-item {
          padding-left: 10px;
          display: flex;
          margin-bottom: 10px;
          .gallery__sidebar-product-name-price {
            display: flex;
            align-items: center;
            .gallery__sidebar-product-name {
              font-size: 15px;
            }
            .gallery__sidebar-product-price {
              margin-left: 10px;
              font-size: 10px;
            }
          }
          .gallery__sidebar-product-trash {
            margin-left: 20px;
            .gallery__sidebar-button-trash {
              i {
                color: var(--red);
              }
            }
          }
        }
      }
    }
  }
}
.gallery__container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--products);

  .gallery__padding {
    padding: 10px 3% 40px;
    .gallery__around {
      .gallery__title {
        h2 {
          font-weight: lighter;
        }
      }
      .gallery__products {
        padding-bottom: 50px;
        .register-message {
          .register-message__box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            border: 1px solid var(--green);
            padding: 20px 50px;
            border-radius: 10px;
            background-color: var(--ternary);
            display: none;
            span {
              color: var(--green);
            }
            &.register-message__box--active {
              display: block !important;
              animation: animate-register-message 5000ms ease-in-out forwards;
              @keyframes animate-register-message {
                0% {
                  opacity: 0;
                }
                30% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }
          }
        }
        .register-product {
          z-index: 10;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .register-product__cover {
            height: 100%;
            width: 100%;
            background-color: var(--rgba-05);
            backdrop-filter: blur(20px);

            .register-product__container {
              max-width: 500px;
              margin: 0 auto;
              padding: 0 3%;
              .register-product__align {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                .register-product__box {
                  height: 300px;
                  position: relative;
                  .register-product-button--close {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                  }
                  border-radius: 10px;
                  width: 100%;
                  padding: 50px 20px;
                  background-color: var(--secondary);
                  border: 1px solid var(--green);
                  .register-product__groups {
                    .register-product__group {
                      button.register-product__group-button {
                        margin-top: 20px;
                        color: var(--green);
                      }
                    }
                    .register-product__title {
                      h2 {
                        font-weight: lighter;
                        font-size: 18px;
                        margin-bottom: 50px;
                      }
                    }
                    &.register-product__groups-top {
                      display: flex;
                      flex-wrap: wrap;
                      .register-product__group {
                        &:nth-child(-n + 1) {
                          select {
                            margin-right: 10px;
                          }
                        }
                        select {
                          margin-bottom: 10px;
                          padding: 3px 20px;
                          border-radius: 5px;

                          background-color: var(--primary);
                        }
                      }
                    }
                    &.register-product__groups-bottom {
                      margin-top: 20px;
                      .register-product__group {
                        label {
                          font-size: 12px;
                          margin-right: 10px;
                        }
                        input {
                          color: var(--text-ternary);
                          padding: 5px 15px;
                          border-radius: 3px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .loading {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          backdrop-filter: blur(10px);
          background-color: var(--rgba-05);
          position: fixed;
          z-index: 5;
          user-select: none;

          display: flex;
          .loading__load-container {
            transform: rotateZ(45deg);
            margin: auto;
            width: 40px;
            height: 40px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            box-shadow: 0 0 10px 0 var(--rgba-05);
            animation: loading-animate 200ms ease-in-out infinite;
            @keyframes loading-animate {
              from {
                transform: rotateZ(45deg);
              }
              to {
                transform: rotateZ(405deg);
              }
            }
            span {
              width: 20px;
              height: 20px;
              border: 2px solid var(--black);
              display: block;
              position: absolute;
              border-radius: 5px;
              &:nth-child(1) {
                background-color: var(--pink);
              }
              &:nth-child(2) {
                background-color: var(--red);
              }
              &:nth-child(3) {
                background-color: var(--blue);
              }
              &:nth-child(4) {
                background-color: var(--green);
              }
              &:nth-child(2n + 1) {
                left: 0;
              }
              &:nth-child(2n + 2) {
                right: 0;
              }
              &:nth-child(-n + 2) {
                top: 0;
              }
              &:nth-last-child(-n + 2) {
                bottom: 0;
              }
            }
          }
        }
        .items {
          margin-top: 30px;
          margin-bottom: 60px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .items__around {
            margin: 5px;
            position: relative;
            background-color: var(--rgba-05);
            border-radius: 5px;
            width: 100%;
            max-width: 200px;
            padding: 10px 3px 20px;
            overflow: hidden;
            &.items__around--active {
              .items__image-size {
                position: relative;
                transform: translateY(0) !important;
                .alert {
                  top: 0;
                  left: 0;
                  position: absolute;
                  background-color: var(--rgba-05);
                  height: 100%;
                  width: 100%;
                  display: grid;
                  align-items: center;
                  .alert__container {
                    padding: 0 4%;
                    .alert__container-top {
                      h2.alert__title {
                        font-size: 15px;
                      }
                    }
                    .alert__container-bottom {
                      margin-top: 20px;

                      .alert__button {
                        border-radius: 3px;
                        padding: 5px 10px;

                        &.alert__button-01 {
                          background-color: var(--red);
                        }
                        &.alert__button-02 {
                          margin-left: 5px;

                          color: var(--text-ternary);
                          background-color: var(--white);
                        }
                      }
                    }
                  }
                }
              }
              .items__product-animate {
                transform: translateY(0) !important;
              }
            }

            .items__product-animate {
              transform: translateY(100px);
              transition: transform 400ms ease;
              &.a1 {
                transition-delay: 700ms;
              }
              &.a2 {
                transition-delay: 1000ms;
              }
              &.a3 {
                transition-delay: 1200ms;
              }
              &.a4 {
                transition-delay: 1400ms;
              }
              &.a5 {
                transition-delay: 1600ms;
              }
            }
            .items__container-img {
              overflow: hidden;
              height: 400px;

              .items__image-size {
                border: 2px solid var(--ternary);
                transition: transform 500ms ease-in-out 200ms;
                transform: translateY(44px);
                border-radius: 5px;
                background-color: var(--rgba-02);
                height: 300px;
                overflow: hidden;
                img {
                  object-fit: cover;
                  border-radius: 5px;
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .items__data-info {
              position: absolute;
              width: 100%;
              bottom: 20px;
              left: 0;

              .items__product-datas {
                display: flex;
                align-items: center;
                justify-content: space-around;
                line-height: 0;
                margin-bottom: 15px;
                .items__product-name {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  width: 100%;
                  max-width: 85px;
                  line-height: 10px;
                  font-size: 10px;
                }
                .items__product-price {
                  padding: 5px 20px;

                  background-color: var(--background-btn);
                  display: block;
                  font-size: 12px;
                }
              }
              .items__product-controls {
                display: flex;
                width: 50px;
                margin-left: 20px;
                align-items: center;
                justify-content: space-around;

                .items__product-create {
                  i {
                    color: var(--green);
                  }
                }
                .items__product-buy {
                  i {
                    color: var(--blue);
                  }
                }
                .items__product-favorite {
                  i {
                    color: var(--red);
                  }
                }
              }
            }
          }
        }
        .controls {
          margin-top: 20px;
          display: flex;
          button.controls__control {
            border-radius: 5px;
            padding: 5px 20px;
            &:active {
              transform: scale(1.05);
              box-shadow: 0 0 10px var(--shadow);
              color: var(--button-act);
            }
            &:nth-child(1) {
              margin-left: 0 !important;
            }
            &:nth-last-child(1) {
              margin-right: 0 !important;
            }
            margin: 0 5px;
            background-color: var(--background-btn);
          }
        }
      }
    }
  }
}
